SPRING_ENV=dev
SPRING_APP_NAME=StoreManager
SPRING_LOG_LEVEL=WARN

SPRING_JWT_SECRET=secret-key
SPRING_JWT_PUBLIC=/**,/v3/api-docs/**,/swagger-ui/**
SPRING_JWT_ISSUER=login-service

HOST_PORT=8085
HOST_DB_PORT=3309

MYSQL_DATABASE=db_store_manager
MYSQL_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=user

PHPMYADMIN_PORT=8091
DOCKER_DOMAIN_NETWORK=fullstack_network
