SPRING_ENV=dev
SPRING_APP_NAME=StoreManager
SPRING_LOG_LEVEL=WARN

SPRING_JWT_SECRET=secret-key
SPRING_JWT_PUBLIC=/**,/v3/api-docs/**,/swagger-ui/**,/actuator/**
SPRING_JWT_ISSUER=login-service
SPRING_EUREKA_URL=http://localhost:8123/eureka

HOST_PORT=8085
DOCKER_DOMAIN_NETWORK=fullstack_network

SERVICE_PRODUCTS_BASE_URL=http://localhost:8005
SERVICE_CARTS_BASE_URL=http://localhost:8004
